<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3" style="border-right: 1px solid #ccc;border-bottom: 1px solid #ccc">
            <h4>Users</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/auth/index">Авторизация</a></li>
                <li><a href="/user/index">Список пользователей</a></li>
                <li><a href="/user/create">Создать нового пользователя</a></li>

            </ul>
        </div>

        <div class="col-sm-9">
            <h1 class="h1">{{ title }}</h1>
            {% if errors %}
                <h4 class="h4"> У вас есть ошибки!</h4>
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>